version: '2.4'
services:
  # Description: NGINX alternative to standard Caddy acts as a reverse proxy for all of the sourcegraph-frontend instances
  #
  # Disk: 1GB / persistent SSD
  # Ports exposed to other Sourcegraph services: none
  # Ports exposed to the public internet: 80 (HTTP) and 443 (HTTPS)
  nginx:
    container_name: nginx
    image: 'nginx:stable'
    cpus: 4
    mem_limit: '4g'
    environment:
      - 'NGINX_HOST=localhost'
      - 'SOURCEGRAPH_DOMAIN=sourcegraph.com'
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - './templates:/etc/nginx/templates'
    ports:
      - '0.0.0.0:80:80'
      - '0.0.0.0:443:443'
    networks:
      - sourcegraph
    restart: always
volumes:
  nginx:
networks:
  sourcegraph: