
# Generic rewrite for file/repo and file/repo at revision
location ~* /source/xref/([^/]+)(?:/(.+))?$ {
  set $og_repo $1;
  set $file_path $2;
  if ($query_string ~* "r=(.+)") {
    set $revision @$1;
  }
  if ($file_path != '') {
    set $file_path /-/blob/$file_path;
  }
  rewrite ^ ${SOURCEGRAPH_URI}/$sg_repo$revision$file_path? redirect; 
}


# Generic search test case
location  /source/search {
    if ($arg_full) {
       set $sg_query "$arg_full";
    }
    if ($arg_type) {
       set $sg_query "$sg_query lang:$arg_type";
    }
    if ($arg_path) {
       set $sg_query "$sg_query file:$arg_path";
    }
    rewrite ^ ${SOURCEGRAPH_URI}/search?q=$sg_query redirect;

#  if ($query_string ~* "defs=([^&]*)") {
#    set $symbol $1;
#    rewrite ^ ${SOURCEGRAPH_URI}/search?q=type:symbol+$symbol? redirect;
#  }

}
